/* Background.css is responsible for the borders,colors, width, height*/

#Title {
    background-image: linear-gradient(lightblue,lightgray);
    background-repeat: no-repeat;
    border: 2px solid;
    border-color: white;
}

body {
    background: linear-gradient(lightblue,skyblue, lightblue);
    background-repeat: no-repeat;
}

#Sidebar li {
    display: inline-block;
}
li:hover {
    background-color: skyblue;
    border:1px solid gray;
}
#Title {
    color: white;
}
li a
{
    text-decoration:none;
    color:white;
}
table {
    margin: auto;
    width: 50%;
    background-color: lightblue;
}
td {
    border:1px solid black;

}
h2 {
    color:white;
}
table tr td{
    border-top:0px;
    border-left:0px;
    border-right:0px;
}
.hideBorder td {
    border: 0px;
}
.hideBorder {
    border: 0px;
}

.bigButton {
    width: 150px;
    height: 30px;
}

.resizeImage
{
    width:170px;
    height:170px;
    transition: all .2s ease-in-out;
    padding: 5px 5px;
    margin:5px 5px;
}
.resizeImage:hover 
{
    transform: scale(1.1);
}
.resizeImageSmall
{
    width:60px;
    height:60px;
    transition: all .2s ease-in-out;
}
.resizeImageSmall:hover 
{
    transform: scale(1.1);
}
.resizeImageVerySmall
{
    width:25px;
    height:25px;
    transition: all .2s ease-in-out;
}
.resizeImageVerySmall:hover 
{
    transform: scale(1.1);
}
.error{
    color:darkred;
}
.MenuText{
    color:white;
    text-decoration:none;
}