#Title {
    background-image: linear-gradient(lightblue,lightgray);
    background-repeat: no-repeat;
    border: 2px solid;
    border-color: white;
}

body {
    background: linear-gradient(lightblue,skyblue, lightblue);
    background-repeat: no-repeat;
}

#Sidebar li {
    display: inline-block;
}

table {
    margin: auto;
    width: 50%;
    background-color: lightblue;
}

td {
    border: 1px solid black;
}

.hideBorder td {
    border: 0px;
}
.hideBorder {
    border: 0px;
}

.bigButton {
    width: 150px;
    height: 30px;
}
.currentUser {
    position:absolute;
    top:10px;
    left:85%;
}
.resizeImage
{
    width:200px;
    height:200px;
    transition: all .2s ease-in-out;
    padding: 10px 10px;
    margin:10px 10px;
}
.resizeImage:hover 
{
    transform: scale(1.1);
}
.resizeImageSmall
{
    width:50px;
    height:50px;
    transition: all .2s ease-in-out;
}
.resizeImageSmall:hover 
{
    transform: scale(1.1);
}
.resizeImageVerySmall
{
    width:25px;
    height:25px;
    transition: all .2s ease-in-out;
}
.resizeImageVerySmall:hover 
{
    transform: scale(1.1);
}